{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% if error_message %}
<div class="alert alert-danger">{{ error_message }}</div>
{% endif %}

{% if start and end %}
<h3 class="text-center">{% trans 'Accounting Report : ' %}{{ start|date:"DATE_FORMAT" }} {% trans 'to' %} {{ end|date:"DATE_FORMAT" }}</h3>
<div class="card card-primary">
	<div class="card-header">{% trans 'Offers' %}</div>
	<div class="table-responsive-sm">
	<table class="table table-sm text-right">
		<tr>
			<th class="text-left">ID</th>
			<th class="text-left">{% trans 'Customer' %}</th>
			<th class="text-center">{% trans 'Date' %}</th>
			<th>{% trans 'Sub Total' %}</th>
			<th>{% trans 'Tax Total' %}</th>
			<th>{% trans 'General Total' %}</th>
			<th>{% trans 'Actions' %}</th>
		</tr>
		{% for offer in offers %}
		<tr>
			<td class="text-left">{{ offer.id }}</td>
			<td class="text-left">{{ offer.customer }}</td>
			<td class="text-center">{{ offer.date|date:"DATE_FORMAT" }}</td>
			<td>{{ offer.total_items }} TL</td>
			<td>{{ offer.total_tax }} TL</td>
			<td>{{ offer.total }} TL</td>
			<td><a class="btn btn-xs btn-default my-2 my-sm-0 btn-sm" href="{% url 'print_offer' offer.id %}" target="new">{% trans 'View' %}</a></td>
		</tr>
		{% endfor %}
	</table>
	</div>
	<div class="card-footer text-right"><strong>{% trans 'Total : ' %} {{ offertotal }} TL</strong></div>
</div>
{% else %}
<form class="form-default my-2 my-lg-0" action="{% url 'accounting' %}" method="POST">
{% csrf_token %}
	<div class="card card-primary text-center">
		<div class="card-header">{% trans 'Choose a date range' %}</div>
		<div class="card-body align-self-center">
			<div class="form-inline my-2 my-lg-0">
					<div class="input-group input-daterange">
						<input type="text" class="form-control" data-date-format="dd/mm/yyyy" value="{% now 'd/m/Y' %}" id="start" name="start" required="required">
					<div class="input-group-addon">&nbsp;&nbsp;{% trans 'to' %}&nbsp;&nbsp;</div>
						<input type="text" class="form-control" data-date-format="dd/mm/yyyy" value="{% now 'd/m/Y' %}" id="end" name="end" required="required">
					</div>
					<script type="text/javascript">
						$('.input-daterange input').each(function() {
							$(this).datepicker({
								orientation: "bottom left",
								weekStart: 1,
						    todayBtn: "linked",
						    clearBtn: true,
						    language: "tr",
						    daysOfWeekHighlighted: "0,6",
						    calendarWeeks: true,
						    todayHighlight: true,
						    toggleActive: true,
								autoclose: true,
							});
						});
					</script>
				</div>
			</div>
		<div class="card-footer">
			<input class="btn btn-outline-primary my-2 my-sm-0 btn-sm" type="submit" value="{% trans 'View' %}">
		</div>
	</div>
</form>
{% endif %}

{% endblock %}
