{% load static %}
{% load i18n %}

<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=no">

	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>{% trans 'Offer Manager' %}</title>
	{% endif %}

	<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>

	{% get_current_language as LANGUAGE_CODE %}
	{% if LANGUAGE_CODE == "tr" %}
	<script src="{% static 'js/bootstrap-datepicker.tr.min.js' %}" charset="utf-8"></script>
	{% endif %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.min.css' %}">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{% url 'index' %}"><strong>{% trans 'Offer' %}</strong>{% trans 'Manager' %}</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

		{% if user.is_authenticated %}
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="nav navbar-nav mr-auto">
				<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Offers' %}<span class="sr-only">(current)</span></a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="{% url 'new_offer' %}">{% trans 'New Offer' %}</a>
							<a class="dropdown-item" href="{% url 'index' %}">{% trans 'Recent Offers' %}</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'all_offers' %}">{% trans 'List All Offers' %}</a>
							<a class="dropdown-item" href="{% url 'draft_offers' %}">{% trans 'Draft Offers' %}</a>
							<a class="dropdown-item" href="{% url 'approved_offers' %}">{% trans 'Approved Offers' %}</a>
							<a class="dropdown-item" href="{% url 'unapproved_offers' %}">{% trans 'Unapproved Offers' %}</a>
							<a class="dropdown-item" href="{% url 'canceled_offers' %}">{% trans 'Canceled Offers' %}</a>
						</div>
				</li>
				<li class="nav-item dropdown active">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Documents' %}<span class="sr-only">(current)</span></a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="{% url 'new_document' %}">{% trans 'New Document' %}</a>
							<a class="dropdown-item" href="{% url 'recent_documents' %}">{% trans 'Recent Documents' %}</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'all_documents' %}">{% trans 'List All Documents' %}</a>
							<a class="dropdown-item" href="{% url 'cheques' %}">{% trans 'Cheques' %}</a>
							<a class="dropdown-item" href="{% url 'bonds' %}">{% trans 'Bonds' %}</a>
							<a class="dropdown-item" href="{% url 'receipts' %}">{% trans 'Receipts' %}</a>
							<a class="dropdown-item" href="{% url 'others' %}">{% trans 'Others' %}</a>
						</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Customers' %}</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="{% url 'new_customer' %}">{% trans 'New Customer' %}</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'customer_list' %}">{% trans 'Customer List All' %}</a>
						</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Reports' %}</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="{% url 'accounting' %}">{% trans 'Accounting' %}</a>
					</div>
				</li>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Hello' %} {{ user.username.capitalize }}</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    				<a class="dropdown-item" href="{% url 'admin' %}">{% trans 'Admin' %}</a>
						<a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
					</div>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0" action="{% url 'search_offer' %}" method="POST">
				{% csrf_token %}
				<input class="form-control mr-sm-2" type="search" aria-label="Search" name="id"  placeholder="{% trans 'Offer ID' %}"/>
				<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">{% trans 'Go' %}</button>
			</form>
			&nbsp;&nbsp;
			<form class="form-inline my-2 my-lg-0" action="{% url 'set_language' %}" method="POST">
				{% csrf_token %}
				<input class="form-control mr-sm-2" name="next" type="hidden" value="{{ redirect_to }}"/>
				<select class="form-control mr-sm-2" name="language">
					{% get_current_language as LANGUAGE_CODE %}
					{% get_available_languages as LANGUAGES %}
					{% get_language_info_list for LANGUAGES as languages %}
					{% for language in languages %}
					<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
						{{ language.name_local }} ({{ language.code }})
					</option>
					{% endfor %}
				</select>
				<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">{% trans 'Go' %}</button>
			</form>
				{% endif %}
			</div>
	</nav>

	<div class="container">
{% block content %}
{% endblock %}
	</div>

</body>
</html>
