{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% if offer_list %}
<!-- Default offer list, show 25 recent offers -->
<div class="card card-primary">
	<div class="card-header">{% if title %}{{ title }}{% else %}{% trans 'Offers' %}{% endif %}</div>
	<div class="table-responsive-sm text-right">
	<table class="table table-sm">
		<tr class="table-default">
			<th class="text-left">ID</th>
			<th class="text-left">{% trans 'Customer' %}</th>
			<th class="text-center">{% trans 'Date' %}</th>
			<th>{% trans 'Sub Total' %}</th>
			<th>{% trans 'Tax Total' %}</th>
			<th>{% trans 'General Total' %}</th>
			<th>{% trans 'Actions' %}</th>
		</tr>
		{% for offer in offer_list %}
		<tr>
			<td class="text-left">{{ offer.id }}</td>
			<td class="text-left">{{ offer.customer }}</td>
			<td class="text-center">{{ offer.date|date:"DATE_FORMAT" }}</td>
			<td>{{ offer.total_items }} TL</td>
			<td>{{ offer.total_tax }} TL</td>
			<td>{{ offer.total }} TL</td>
			<td>
				<a class="btn btn-outline-primary my-2 my-sm-0 btn-sm" href="{% url 'offer' offer.id %}" target="new">{% trans 'View' %}</a>
				<a class="btn btn-outline-primary my-2 my-sm-0 btn-sm" href="{% url 'customer' offer.customer.id %}" target="_new">{% trans 'Customer' %}</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	</div>
</div>

{% else %}
<div class="alert alert-info">{% trans 'No offers!' %}</div>
{% endif %}

{% endblock %}
