{% extends 'base.html' %}
{% load i18n %}
{% block content %}

{% if error_message %}
<div class="alert alert-warning">{{ error_message }}</div>
{% endif %}

{% if customer_list %}
<form method="POST" action="{% url 'new_document' %}" name="customer" class="form-default">
	{% csrf_token %}
	<div class="card card-primary">
		<div class="card-header">{% trans 'Select Customer' %}</div>
		<div class="card-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">{% trans 'Customer : ' %}</label>
				<div class="col-sm-6">
					<select class="form-control" name="customer_id">
						<option value="None">{% trans '(Select)' %}</option>
						{% for customer in customer_list %}
						<option value="{{ customer.id }}">{{ customer.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<a href="{% url 'new_customer' %}" class="btn btn-default my-2 my-sm-0 btn-sm">{% trans 'Add New Customer' %}</a>
			<input class="btn btn-outline-primary my-2 my-sm-0 btn-sm" type="submit" value="{% trans 'Create Document' %}">
		</div>
	</div>
</form>

{% else %}
<div class="alert alert-info">{% trans 'No customers!' %}</div>
{% endif %}

{% endblock %}
