html,
body,

@page {
	margin: 0px auto;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.logo {
	width: 390px;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
}
p {
	font-size: 15px;
}
.col-md-8 p {
	font-style: italic;
}
.row {
	margin-bottom: 20px;
}
